
h1{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: rgb(255, 102, 102);
}
a:active {
    color:rgb(102, 179, 255);
}
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: block;
}
.inclass {
    color: rgb(0, 0, 0);
}
.inclass:hover {
   background: rgb(0, 0, 0);
   color: white;
}
.hw1 {
    color: orange;
} 
.hw1:hover {
    background: #ffb341;
    color: white;
}
.hw2 {
     color: red;
}
.hw2:hover {
    background: #ff4d41;
    color: white;
}
.hw3 {
    color: rgb(0, 162, 255);
}
.hw3:hover {
   background: rgb(0, 162, 255);
   color: white;
}
.hw4 {
    color: rgb(90, 219, 148);
}
.hw4:hover {
   background: rgb(90, 219, 148);
   color: white;
}
.hw5 {
    color: rgb(198, 107, 235);
}
.hw5:hover {
   background: rgb(198, 107, 235);
   color: white;
}
.hw6 {
    color: rgb(255, 244, 93);
}
.hw6:hover {
   background: rgb(255, 244, 93);
   color: white;
}
