body{
    background: #17181c;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: white;
}
a{
    font-family: 'Roboto Condensed', sans-serif;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: rgb(252, 98, 98);
}
a:active {
    color:rgb(102, 179, 255);
}
.btn {
    background: none;
    border: 1px solid;
    width: 250px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}
.inclass {
    background:#17181c;
    color:  rgb(223, 223, 223);
}
.inclass:hover {
   background: rgb(223, 223, 223);
   color: #17181c;
}
.finalproject{
    background:#17181c;
    color:  rgb(223, 223, 223);
}
.finalproject:hover{
   background: rgb(223, 223, 223);
   color: #17181c;
}
.hw1 {
    color: #a972cb;
} 
.hw1:hover {
    background: #cb72aa;
    color: white;
}
.hw2 {
     color: #ef6eae;
}
.hw2:hover {
    background: #ef8f6e;
    color: white;
}
.hw3 {
    color: #ff7f82;
}
.hw3:hover {
   background: #ffdc7f;
   color: white;
}
.hw4 {
    color: #ffa260;
}
.hw4:hover {
   background: #e5ff60;
   color: white;
}
.hw5 {
    color: #e4cb58;
}
.hw5:hover {
   background:#94e458;
   color: white;
}
.hw6 {
    color: #8fc866;
}
.hw6:hover {
   background: #66c887;
   color: white;
}


