/* general styling */
img{
    width: 10%;
    padding-top: 50px;
}
body {
    background-color: rgb(24, 24, 24);
}


/* map */
#content{
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
}



/* fonts properties */
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color:rgb(255, 255, 255);
}
h2 {
    font-family: 'Oswald', sans-serif;
    color:rgb(255, 255, 255);
}
h3{
    font-family: 'Oswald', sans-serif;
    color: white;
}
p{
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    line-height: 1.6;
    color:rgb(255, 255, 255);
    width: 600px;
    padding-bottom: 20px;
    text-align: justify;
}
li{
    font-family: 'Quattrocento', serif;
    color:rgb(255, 255, 255);
    text-align: left;
}
ol{
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}
#temptext{
    font-family: 'Quattrocento', serif;
    font-size: 30pt;
    color:rgb(255, 255, 255);
}

/* intro div */
.intro{
    display: flex;
    justify-content: center;
}


/* info buttons */
a:link {
    text-decoration: none;
}
a:visited {
    color: rgb(255, 102, 102);
}
a:active {
    color:rgb(102, 179, 255);
}
.btn {
    background: none;
    border: 1px solid;
    width: 250px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}
.about {
    background:rgb(24, 24, 24);
    color:  rgb(223, 223, 223);
}
.about:hover {
    background: rgb(223, 223, 223);
    color:rgb(24, 24, 24);
}
.growth {
    background:rgb(24, 24, 24);
    color:  rgb(223, 223, 223);
}
.growth:hover {
    background: rgb(223, 223, 223);
    color:rgb(24, 24, 24);
}

/* tooltip */

#tooltip {
    border: 1px solid black;
    display: none;
    position: absolute;
}

#tooltip h1{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:rgb(255, 0, 0);
}


/* for the quotes */
.blockquote-wrapper {
    display: flex;
    height: 45vh;
    padding: 0 10px;
 }
 
 .blockquote {
     position: relative;
     font-family: 'Oswald', sans-serif;
     max-width: 450px;
     margin: 15px auto;
     align-self: center;
 }
 
 .blockquote h1 {
     font-family: 'Oswald', sans-serif;
     position: relative; 
     color: rgb(255, 106, 106);
     font-size: 1.5rem;
     font-weight: normal;
     line-height: 1.1;
     margin: 0;
     border: 3px solid #fff;
     border: solid 2px;
     border-radius:20px;
     padding: 25px;
 }
 
 .blockquote h1:after {
     content:"";
     position: absolute;
     border: 2px solid rgb(255, 106, 106);
     border-radius: 0 50px 0 0;
     width: 60px;
     height: 60px;
     bottom: -62px;
     left: 50px;
     border-bottom: none;
     border-left: none;
     z-index: 3; 
 }
 
 .blockquote h1:before {
     content:"";
     position: absolute;
     width: 80px;
     border: 6px solid rgb(24, 24, 24);
     bottom: -3px;
     left: 50px;
     z-index: 2;
 }
 
.blockquote h1 {
    font-size: 1.5rem;
    line-height: 1.2;
}
  
 .blockquote h4:first-letter {
   margin-left:-12px;
 }